@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --font-text: 'Outfit', sans-serif;
    --white: hsl(0, 0%, 100%);
    --ilight-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;

    background-color: var(--ilight-gray);

    font-family: var(--font-text);
    font-weight: 400;
    font-size: 15px;
}

section.container{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 62%;
    height: 80%;

    margin: auto;
    padding: 20px;
    border-radius: 20px;

    background-color: var(--white);
}

div.image{
    height: 65%;
    width: 100%;
    background-image: url(../images/image-qr-code.png);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    margin-bottom: 30px;
}

div.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 15px;
}

div.text > h1{
    color: var(--dark-blue);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.8rem;
    margin-bottom: 15px;
}

div.text > p{
    color: var(--grayish-blue);
    line-height: 1.2rem;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 30px;
}

footer > div.attribution{
    font-size: 11px; 
    text-align: center;
}
footer > div.attribution a{ 
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}